* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dm-sans-font: 'DM Sans', sans-serif;
    --primary-color: #144B66;
    --secondary-color: #3A3A3A;
    --sharp-color: #21BEFC;
    --grey-bg-color: #F8F8F8;
    --light-black-color: #939598;
    --white-color: #ffffff;
    --black-color: #000000;
    --light-color: #E4E7E9;
    --dark-grey-color: #939598;
    --post-para-color: #8C8C8C8C;
    --thin-weight: 300;
    --regular-weihgt: 400;
    --normal-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;
}

a {
    text-decoration: none;
    font-family: var(--dm-sans-font);
    font-size: 14px;
    color: var(--white-color);
    display: inline-block;
    transition: .3s;
}

a:hover {
    color: var(--sharp-color);
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--white-color);
    font-family: var(--dm-sans-font);
    line-height: 1.7;
}
ul li{
    font-family: var(--dm-sans-font);
    list-style: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--dm-sans-font);
    color: var(--secondary-color);
}

h2 {
    font-size: 40px;
    font-weight: var(--bold-weight);
    position: relative;
    margin-bottom: 40px;
    max-width: max-content;
    text-transform: uppercase;
}

h2:after {
    content: "";
    background-color: var(--sharp-color);
    height: 5px;
    width: 50px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.sec-padd{
    padding: 120px 0px;
}
/*==========================
            Header
============================*/
.toggle-icon{
    display: none;
}
.top-bar-inner-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.brand-info {
    display: grid;
    grid-template-columns: 1fr 1fr 230px;
    place-items: center;
    grid-gap: 30px;
}

.contact-info p {
    font-size: 20px;
    font-weight: var(--bold-weight);
    color: var(--secondary-color);
    display: inline-block;
}

.contact-info i {
    color: var(--sharp-color);
}

.contact-info a {
    color: var(--light-black-color);
    display: block;
    padding-left: 23px;
}

.contact-info a:hover {
    color: var(--sharp-color);
}

.free-consultation a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    background-color: var(--primary-color);
    padding: 15px 10px;
    border-radius: 4px;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    font-weight: var(--bold-weight);
}
.free-consultation a img{
    margin-right: 8px;
}
.free-consultation a:hover {
    /* background-color: transparent; */
    /* border: 1px solid var(--primary-color); */
    color: var(--sharp-color);
}

header {
    background-color: var(--primary-color);
}
header nav{
    padding: 11px 0;
}
header nav ul {
    margin: 0 auto;
    display: block;
    text-align: center;
}

header nav ul li:not(header nav ul li:last-child) {
    padding-right: 60px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
}

/*==========================
            Banner
============================*/
.banner-sec {
    position: relative;
}

.banner-content-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.banner-content-main .container {
    height: 100%;
}

.banner-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 570px;
}

.banner-inner-content h1 {
    font-size: 48px;
    color: var(--white-color);
}

.banner-inner-content h2 {
    color: var(--white-color);
    font-size: 32px;
    font-weight: var(--thin-weight);
    margin: 25px 0px;
    border-left: 3px solid var(--sharp-color);
    padding-left: 20px;
    line-height: 25px;
}

.banner-inner-content h2::after {
    content: unset;
}

.banner-inner-content p {
    color: var(--light-color);
    margin-bottom: 40px;
    padding-right: 100px;
}

.banner-inner-content a {
    background-color: var(--sharp-color);
    text-transform: uppercase;
    padding: 19px 42px;
    border-radius: 4px;
    font-weight: var(--bold-weight);
    max-width: max-content;
    border: 1px solid transparent;
}

.banner-inner-content a i {
    font-weight: var(--bold-weight);
    padding-left: 20px;
}

.banner-inner-content a:hover {
    background-color: transparent;
    border: 1px solid var(--sharp-color);
}

/*==========================
            Main
============================*/
.firm-inner-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.firm-right-content h2::after {
    margin: auto 0 0 0;
}

.firm-right-content p {
    color: var(--dark-grey-color);
    margin-bottom: 45px;
}

.firm-right-content a {
    background-color: var(--primary-color);
    padding: 19px 31px;
    border-radius: 4px;
    font-weight: var(--bold-weight);
    text-transform: uppercase;
    border: 1px solid transparent;
}

.firm-right-content a:hover {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.firm-right-content a i {
    padding-left: 20px;
    font-weight: var(--bold-weight);
}

.practice-areas-main {
    background-color: var(--grey-bg-color);
}

.practice-head {
    text-align: center;
}

.practice-head p {
    color: var(--light-black-color);
    text-transform: uppercase;
}

.practice-head h2 {
    margin: 0 auto 40px;
}

.practice-areas-inner {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    grid-gap: 40px;
    justify-content: center;
}

.practice-area {
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px rgba(179, 188, 211, 0.13);
    border-radius: 4px;
    text-align: center;
    padding: 50px 50px 30px;
    width: 100%;
    max-width: 402px;
}

.practice-area h3 {
    margin-top: 30px;
    font-weight: var(--bold-weight);
    font-size: 22px;
    color: var(--secondary-color);
}

.practice-area p {
    color: var(--light-black-color);
    margin-bottom: 30px;
}

.practice-area a {
    font-weight: var(--bold-weight);
    color: var(--sharp-color);
    font-size: 16px;
    text-transform: uppercase;
}

.practice-area a:hover {
    color: var(--primary-color);
}

.practice-area a i {
    font-weight: var(--bold-weight);
    padding-left: 20px;
}

.attorneys-sec {
    padding: 120px 0px 0;
}

.attorney-head h2 {
    margin: 0 auto 40px;
}

.attroney {
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    grid-column-gap: 50px;
    margin-bottom: 40px;
}

.attorneys-inner .attroney:last-child {
    margin-bottom: 0;
}

.attorneys-inner .attroney:nth-child(2n-4) {
    grid-template-columns: 1fr 500px;
}

.attorneys-inner .attroney:nth-child(2n-4) .attroney-img {
    order: 2;
}

.attroney h3 {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: var(--bold-weight);
    margin-bottom: 18px;
}

.attroney p {
    margin-bottom: 40px;
    color: var(--light-black-color);
}

.active {
    display: block;
}

.hide {
    display: none;
}

.cases-tabs ul {
    text-align: center;
}

.cases-tabs ul li {
    display: inline-block;
    padding-right: 50px;
}

.cases-tabs ul li:last-child {
    padding-right: 0;
}

.cases-tabs ul li a {
    font-size: 20px;
    color: var(--light-black-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: var(--normal-weight);
}

.cases-tabs ul li a:hover, .cases-tabs ul li a.activelink {
    color: var(--primary-color);
    border-bottom: 3px solid var(--sharp-color);
}

.cases-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
    grid-gap: 30px;
}

.cases-posts .case-post {
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px rgba(179, 188, 211, 0.13);
    border-radius: 0px 0px 8px 8px;
}

.cases-posts .case-post a {
    width: 100%;
}

.cases-posts .case-post img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}

.cases-posts .case-post .case-post-content {
    padding: 23px 15px;
    text-align: center;
}

.cases-posts .case-post .case-post-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.cases-posts .case-post .case-post-content p {
    color: var(--post-para-color);
    font-size: 14px;
}

/*=================================
            Footer
===================================*/
footer {
    background-color: var(--primary-color);
    padding: 55px 0px;
}

.footer-cols-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.footer-cols-main .footer h2 {
    color: var(--white-color);
    margin-bottom: 35px;
    font-size: 22px;
}

.footer-cols-main .footer h2::after {
    content: unset;
}

.footer.footer-1 {
    padding-right: 170px;
}

.footer-cols-main .footer p {
    font-size: 14px;
}
.footer-cols-main .footer p:last-child{
    margin-bottom: 0;
}
.footer-cols-main .footer ul li {
    margin-bottom: 20px;
}
.footer-cols-main .footer ul li:last-child{
    margin-bottom: 0;
}
.contact-footer p {
    margin-bottom: 20px;
}

.footer-cols-main .footer ul li a {
    color: var(--white-color);
}

.footer-cols-main .footer ul li a:hover {
    color: var(--sharp-color);
}

.footer-1 p {
    margin: 25px 0px;
}

.footer-social ul li {
    display: inline-block;
    padding-right: 30px;
}

.footer-social ul li:last-child {
    padding-right: 0;
}

.footer-social ul li a i {
    font-size: 20px;
}

.copyright-sec {
    background-color: var(--sharp-color);
    padding: 8px 0px;
}

.copyright-content {
    text-align: center;
}

.copyright-content p {
    font-size: 14px;
}

/* News Page */

.news img {
    border-radius: 8px 8px 0 0;
}

.news {
    box-shadow: 0px 10px 20px rgb(179 188 211 / 13%);
    background-color: var( --white-color);
    border-radius: 0 0 8px 8px;
    max-width: 400px;
    width: 100%;
    margin: 20px 20px 0 0;
    position: relative;
}

.news p {
    color: var(--light-black-color);
}

.description {
    padding: 24px 20px;
}

.description h3 {
    padding-bottom: 12px;
}


.description a {
    color: var(--sharp-color);
    font-size: 16px;
    font-weight: var(--normal-weight);
}

.news_inner {
    display: flex;
    flex-wrap: wrap;
}

section.news-areas-inner {
    padding: 120px 0;
}

.news_date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var( --white-color);
    border-radius: 8px;
    margin: 20px;
    padding: 5px 15px;
}

.news_date p {
    font-size: 14px;
    color: var( --black-color);
}

.detail_description p {
    color: var(--light-black-color);
    margin-bottom: 20px;
}

.detail_description p a {
    color: var(--sharp-color);
    font-weight: var(--semibold-weight);
    text-transform: uppercase;
    
}

.detail_description{
    padding: 20px 0;
}


/* Contact Us */

.contact-form {
    background-color: var(--grey-bg-color);
    padding: 100px 0;
}

.form-row .form-group {
    width: calc(100% - 51.4%);
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-form-inner{
    max-width: 1041px;
    margin: 0 auto;
    width: 100%;
}

.form-control:focus {
    border-color: var( --primary-color) !important;
    box-shadow: none !important;
}

.form-group textarea#exampleFormControlTextarea1 {
    resize: none;
}

.form-txt {
    text-align: center;
    padding-bottom: 40px;
}

.form-txt p {
    color: #939598;
    font-size: 16px;
    max-width: 532px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.form-txt h1 {
    text-transform: uppercase;
}

.contact-form-inner .submit a {
    display: block;
    background-color:var(--primary-color);
    margin-top: 20px;
    border-radius: 4px;
    max-width: 205px;
    text-align: center;
    box-shadow: 0px 26px 32px rgb(179 188 211 / 27%);
    margin-left: auto;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 1px solid var(--primary-color);
}


.contact-form-inner .submit a:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.form-control::placeholder {
    font-size: 16px;
    color: #95969B;
}

.contact-form-inner  .form-control {
    padding: 12px 20px !important;
}

.contact-info-inner {
    background-color: var( --primary-color);
    text-align: center;
    padding: 50px 0;
}

.contact_details h3 {
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: var( --semibold-weight);
}

.contact_details p {
    font-size: 14px;
    color: var(--white-color);
    font-weight: var(--thin-weight);
    padding-top: 17px;
    max-width: 197px;
    width: 100%;
}

.contact_details p:nth-child(3) {
    padding-top: 5px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    max-width: 857px;
    width: 100%;
    margin: 0 auto;
}

.location h1 {
    color: var(--secondary-color);
    font-size: 30px;
    text-align: center;
    padding-bottom: 24px;
}

.location {
    padding: 50px 0 120px;
}

/*=================================
         practice areas pages
===================================*/

.inner-banner {
    display: grid;
    place-content: center;
    background: url(images/inner-banner.jpg) no-repeat;
    background-size: cover;
    height: 210px;
}

.inner-banner-text h1 {
    font-size: 48px;
    color: var(--white-color);
    font-weight: var(--bold-weight);
}

.practice-inner {
    padding: 120px 0;
}

.img-text-wrap {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 44px;
    margin-bottom: 50px;
}

.img-wrap img {
    width: 100%;
    border-radius: 8px;
}

.text-wrap h3 {
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: var(--bold-weight);
    margin-bottom: 26px;
}

.text-wrap p, .text-wrap li {
    font-size: 16px;
    color: var(--dark-grey-color);
    font-weight: var(--regular-weihgt);
}

.text-wrap ul {
    padding-left: 18px;
    margin-bottom: 18px;
}

.text-wrap li {
    list-style: unset;
}

.text-wrap li::marker {
    color: var(--secondary-color);
}

.text-wrap li:not(:last-child) {
    margin-bottom: 8px;
}

.text-wrap p:not(:last-child) {
    margin-bottom: 18px;
}